.grid-container-movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 1rem;
  column-gap: 2rem;
  width: fit-content;
  height: fit-content;
}

@media (max-width: 1550px) {
  .grid-container-movies {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }
}

@media (max-width: 1400px) {
  .grid-container-movies {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
  }
}

@media (max-width: 1150px) {
  .grid-container-movies {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }
}

@media (max-width: 1050px) {
  .grid-container-movies {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
  }
}

@media (max-width: 750px) {
  .grid-container-movies {
    row-gap: 0.5rem;
    column-gap: 0.5rem;
  }
}

@media (max-width: 700px) {
  .grid-container-movies {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(20, 1fr);
    column-gap: 0;
    row-gap: 2rem;
    width: 100%;
  }
}
