.company-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.89);
    border: 1px solid white;
    object-fit: contain;
}

.detail-image{
    width: 30rem;
    max-height: 910px;
}

.season-container{
    background-color: rgba(128, 128, 128, 0.281);
    padding: 1rem;
}

.season-container:hover{
    background-color: rgba(128, 128, 128, 0.473);
    cursor: pointer
}