.movie-container {
  border: 1px solid white;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-img {
  border: 1px solid white;
}

@media (max-width: 800px) {
  .movie-container {
    height: fit-content;
  }
}

@media (max-width: 700px) {
  .movie-container {
    width: 100%;
    border-radius: 0;
    flex-direction: row;
  }
  .movie-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .movie-container {
    flex-direction: column;
  }
  .movie-title {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }
}
