.navbar-bg{
    background-color: rgb(18, 18, 19);
    border-bottom: 0.0125rem solid white;
}

.footer-bg{
    background-color: rgb(18, 18, 19);
    border-top: 0.0125rem solid white;
}

.login-button{
    border: 1px solid white;
    padding-right: 1rem;
    padding-left: 1rem;
    /* background-color: rgb(65, 51, 51); */
    border-radius: 0.5rem;
}